.jumbotron{
 background-image: linear-gradient(to bottom, #366032, white 90%);
 text-align: center;
 color: white;
 height: 400px;
}


#lions {
  display: none;
}

#tigers {
  display: none;
}

#bears {
  display: none;
}

#sulu {
  display: none;
}

#animal-info {
  margin-top: 40px;

}

.animal-img {
  margin-bottom: 25px;
}
